* {
  color: #b1b1b1;
}

body {
  width: 100%;
  display: block;
  background-image: linear-gradient(rgba(17, 16, 16, 0.95), rgb(0, 0, 0));
  color: #fff;
}

a {
  color: brown;
  font-weight: 900;
  text-decoration: none;
}

p {
  color: #fff;
}

h1 {
  color: #fff;
}

h2 {
  color: rgb(185, 180, 180);
}

h3 {
  color: rgb(116, 116, 116);
}

.hidden {
  display: none
}

.center {
  text-align: center
}
